@font-face {
    font-family: 'Minecraftia';
    src: url('/assets/minecraftia.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/Inconsolata.ttf') format('truetype');
}

body {
    background-image:url('/assets/newp.webp');
}

h1 {
    font-family: 'Minecraftia';
    color: cyan;
    text-align: center;
    margin-bottom: 70px;
    font-size:80px;
     text-shadow: 
        1px 1px 0px rgba(0, 0, 0, 0.5), /* First shadow */
        2px 2px 0px rgba(0, 0, 0, 0.4), /* Second shadow */
        3px 3px 0px rgba(0, 0, 0, 0.3); /* Third shadow */
}

button {
    display: block;
    margin: 0 auto;
    font-family: 'Inconsolata';
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height: 80px;
    width: 205px;
    font-size: 20px;
    margin-bottom: 20px;
    
}

button:hover {
    background-color: #808080; /* Change the background color to grey on hover */
}

img#enemy {
    transform: scaleX(-1);
}
