@font-face {
    font-family: 'Inconsolata';
    src: url('/assets/Inconsolata.ttf') format('truetype');
}

h1 {
    font-family: 'Inconsolata', monospace; /* Apply the font */
    color: black;
    margin-bottom: 20px;
}

p {
    font-family: 'Inconsolata', monospace; /* Apply the font */
    color: black;
    margin-bottom: 20px;
    display: block;
}

.button-container {
    display: flex; /* Use flexbox */
    gap: 5px; /* Optional: adds space between buttons */
}

button {
    font-family: 'Inconsolata', monospace; /* Apply the font */
    background-color: white;
    color: black;
    border: 2px solid #555555;
    height: 40px;
    width: 105px;
    font-size: 20px;
}

body {
    display: flex; /* Use flexbox on the body */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background-color: cyan;
}

#question {
    text-align: center;
}

img#enemy {
    transform: scaleX(-1);
}

.battle {
    display: flex; /* Use flexbox for images */
    justify-content: center; /* Center images horizontally */
}

img {
    margin-top: 5px; /* Space between buttons and images */
}

img#player {
    margin-right: 50px; /* gap between player e enemy */
}
